/ThingCollection-api/target/
/ThingCollection-application/target/
/ThingCollection-domain/target/
/ThingCollection-gateway/target/
/ThingCollection-presentation/target/
/ThingCollection-infrastructure/target/
/ThingCollection-application/nbproject/