	<div class="row">
	
	    <div class="col-md-5">
	      <a ui-sref="reservation.insert" class="btn btn-primary">
	        <i class="glyphicon glyphicon-plus"></i>Novo
	      </a>
	
	      <button type="button" class="btn btn-danger" ng-click="reservation.methods.delete(selectedValues)" gumga-confirm="Deseja remover?">
	        <i class="glyphicon glyphicon-trash"></i>Remover
	      </button>
	    </div>
	
	    <div class="col-md-7">
	        <gumga-query search="reservation.methods.search(field,param)" advanced-search="reservation.methods.advancedSearch(param)" saved-filters="reservation.methods.getQuery(page)">
	            <search-field label="outputDate" field="outputdate"></search-field>
	            <search-field label="expirationDate" field="expirationdate"></search-field>
	            <advanced-search-field  type="date"  label="outputDate" field="outputdate"></advanced-search-field>
	            <advanced-search-field  type="date"  label="expirationDate" field="expirationdate"></advanced-search-field>
	        </gumga-query>
	    </div>
	</div>
	
	<div class="full-width-without-padding">
	    <gumga-list sort="reservation.methods.sort(field, dir)"
	           class="table-striped table-condensed"
	            data="reservation.data"
	            configuration="tableConfig">
	    </gumga-list>
	</div>

	<uib-pagination ng-model="page"
	            max-size="10"
	            boundary-links="true"
	            previous-text="‹"
	            next-Text="›"
	            first-text="«"
	            last-text="»"
	            items-per-page="reservation.pageSize"
	            total-items="reservation.count"
	            ng-change="reservation.methods.get(page)">
	</uib-pagination>